* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif; }

a {
  color: inherit;
  text-decoration: none; }

::selection {
  background-color: #dbb2ff; }

section {
  height: 100vh;
  width: 100%;
  padding: 1rem 5%; }

.hero {
  background-color: #202124;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0; }
  .hero > .txt {
    z-index: 10;
    position: relative; }
  .hero h1, .hero h3, .hero h4 {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    display: table;
    color: rgba(255, 255, 255, 0); }
    .hero h1::after, .hero h3::after, .hero h4::after {
      content: "";
      background-color: #fff;
      display: block;
      height: 100%;
      width: 0;
      position: absolute;
      top: 0; }
  .hero h1 {
    font-size: 9rem;
    animation: slide-in 0.8s ease-in-out forwards; }
    .hero h1::after {
      animation: slide-in-after 0.8s ease-in-out forwards; }
  .hero h3 {
    font-size: 7rem;
    animation: slide-in 0.8s ease-in-out forwards 0.26667s; }
    .hero h3::after {
      animation: slide-in-after 0.8s ease-in-out forwards 0.26667s; }
  .hero h4 {
    font-size: 2rem;
    animation: slide-in 0.8s ease-in-out forwards 0.53333s; }
    .hero h4::after {
      animation: slide-in-after 0.8s ease-in-out forwards 0.53333s; }
  .hero nav {
    position: absolute;
    bottom: 1rem; }
    .hero nav a {
      display: inline-block;
      margin: 8px;
      padding: 0.2rem;
      text-align: center;
      color: rgba(255, 255, 255, 0.9);
      border-radius: 500px;
      font-size: 1.1rem;
      position: relative;
      z-index: 1;
      bottom: -10px;
      opacity: 0;
      animation: fade-up 0.3s ease-in-out forwards; }
      .hero nav a:hover::after {
        height: 90%; }
      .hero nav a::after {
        content: "";
        display: block;
        transition: 0.2s all ease-in-out;
        background-color: rgba(219, 178, 255, 0.3);
        position: absolute;
        width: 100%;
        height: 30%;
        bottom: 0;
        left: 0;
        z-index: 0; }
      .hero nav a:first-child {
        margin-left: 0;
        animation-delay: 1s; }
      .hero nav a:nth-child(2) {
        animation-delay: 1.1s; }
      .hero nav a:nth-child(3) {
        animation-delay: 1.2s; }

.code {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
  z-index: 0; }
  .code .code-block {
    background-color: #2c2d32;
    border-radius: 12px;
    display: inline-block;
    font-size: 1.1rem;
    line-height: 1.3rem;
    padding: 16px;
    box-shadow: 0 8px 64px -4px rgba(0, 0, 0, 0.3);
    margin: 16px 0;
    position: relative;
    animation: fade 1s ease-in-out forwards;
    opacity: 0; }
    .code .code-block:nth-child(1) {
      left: 10%;
      z-index: 0;
      animation-delay: 1.1s; }
    .code .code-block:nth-child(2) {
      right: 10%;
      z-index: 1;
      animation-delay: 1s; }
    .code .code-block:nth-child(3) {
      left: 0;
      z-index: 2;
      animation-delay: 1.3s; }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-up {
  0% {
    opacity: 0;
    bottom: -10px; }
  100% {
    opacity: 1;
    bottom: 0; } }

@keyframes slide-in {
  0% {
    color: rgba(255, 255, 255, 0); }
  49% {
    color: rgba(255, 255, 255, 0); }
  50% {
    color: white; }
  100% {
    color: white; } }

@keyframes slide-in-after {
  0% {
    width: 0;
    left: 0; }
  50% {
    width: 100%;
    right: 0; }
  100% {
    width: 0;
    right: 0; } }

.token {
  color: #b7c5d3; }
  .token.keyword, .token.function {
    color: #70e1e8; }
  .token.variable {
    color: #718ca1; }
  .token.number, .token.string {
    color: #e27e8d; }

.language-sass .token {
  color: #e27e8d; }
  .language-sass .token.selector {
    color: #70e1e8; }
  .language-sass .token.property, .language-sass .token.punctuation {
    color: #b7c5d3; }
  .language-sass .token.variable {
    color: #718ca1; }

.about {
  position: relative;
  margin-top: 100vh;
  background-color: #fff;
  z-index: 100; }
  .about .col {
    width: 60%;
    height: 100%;
    float: right;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .about .col h1 {
      font-size: 3rem; }
    .about .col p {
      margin-top: 0.5rem;
      font-size: 1.1rem;
      line-height: 2.6rem; }
    .about .col .about-txt {
      opacity: 0; }
      .about .col .about-txt.fade-in {
        opacity: 1; }
  .about canvas {
    position: absolute;
    height: 100vh;
    top: 0; }

.projects {
  background-color: #202124;
  position: relative;
  color: rgba(255, 255, 255, 0.9);
  height: auto; }
  .projects > h1 {
    font-size: 4rem;
    text-align: center; }
  .projects .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
  .projects a {
    display: block;
    margin: 32px;
    flex: calc(50% - 32px * 2);
    position: relative; }
    .projects a .card {
      background-color: #2c2d32;
      box-shadow: 0 8px 24px -8px rgba(0, 0, 0, 0.2);
      padding: 16px;
      position: relative;
      transition: 0.2s all ease-in-out;
      overflow: hidden; }
    .projects a h1 {
      font-size: 3rem; }
    .projects a .num {
      top: -3rem;
      left: -1.5rem;
      font-size: 4rem;
      position: absolute;
      font-family: "Source Code Pro", monospace;
      color: #dbb2ff;
      transition: 0.2s all ease-in-out;
      z-index: 1; }
    .projects a .thumb {
      opacity: 0.6;
      position: absolute;
      left: 70%;
      top: 0;
      transition: all ease-in-out 0.3s;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover; }
    .projects a .desc {
      font-size: 1.1rem;
      line-height: 2rem;
      max-width: 60%; }
    .projects a:hover .card {
      transform: scale(1.02); }
    .projects a:hover .num {
      transform: scale(1.5); }
    .projects a:hover .thumb {
      opacity: 1; }

header {
  position: fixed;
  height: 56px;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 8px 24px -16px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center; }
  header nav a {
    margin: 0 18px; }

section.project {
  padding-top: 72px;
  max-width: 920px;
  margin: 0 auto; }
  section.project h1 {
    font-size: 72px; }
  section.project p {
    font-size: 1.1rem;
    line-height: 2rem; }
