.about
  position: relative
  .col
    width: 60%
    height: 100%
    float: right
    position: relative
    z-index: 1
    h1
      font-size: 3rem
    p
      margin-top: 0.5rem
      font-size: 1.1rem
      line-height: 2.6rem
  canvas
    position: absolute
    height: 100vh
    top: 0