section
  height: 100vh
  width: 100%
  padding: 1rem 5%

.hero
  background-color: $main-background
  color: $light-text
  display: flex
  justify-content: center
  flex-direction: column
  >.txt
    z-index: 1
  h1
    font-size: 10rem
  h3
    font-size: 7rem
  h4
    font-size: 3rem
  nav
    margin-top: 1rem
    a
      display: inline-block
      margin: 8px
      padding: 0.5rem 1rem
      text-align: center
      background-color: $accent
      color: $dark-text
      border-radius: 500px
      font-size: 1.1rem
      &:first-child
        margin-left: 0


.code
  position: absolute
  right: 0
  width: 50%
  height: 100vh

  .code-block
    background-color: lighten($main-background, 5%)
    border-radius: 12px
    display: inline-block
    padding: 16px
    box-shadow: 0 8px 32px -4px rgba(#000, 0.3)