@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --background-color: #ffffff;
    --text-color: #121212;
    --font: 'lora', serif;
    --selection-color: rgba(225, 202, 255, 0.4);
}

::selection {
    background-color: var(--selection-color);
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
}
